
.text p {
    display:inline-block;
    max-width:60%;
    padding:5px 10px;
    border-radius: 15px;
         background-color:darkcyan;
         color:rgb(152, 98, 133);
         font-family: sans-serif;
       font-size:0.8em; }